swagger: '2.0'
info:
  description: The API Gateway exposes all publicly available API endpoints for Crusoe Cloud products.
  title: Crusoe Cloud API Gateway Audit Logs Kubernetes Versions API
  version: v1alpha5
host: api.crusoecloud.com
basePath: /v1alpha5
schemes:
- https
consumes:
- application/json
produces:
- application/json
tags:
- name: Kubernetes Versions
paths:
  /projects/{project_id}/kubernetes/versions:
    get:
      tags:
      - Kubernetes Versions
      summary: Retrieve information about available Kubernetes versions.
      operationId: listKubernetesVersions
      parameters:
      - type: string
        example: ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab
        x-go-name: ProjectID
        name: project_id
        in: path
        required: true
      - type: boolean
        example: true
        x-go-name: ShowDeprecated
        name: show_deprecated
        in: query
      - type: string
        example: a100.2x
        x-go-name: ProductName
        name: product_name
        in: query
      responses:
        '200':
          $ref: '#/responses/listKubernetesVersionsResponse'
        '400':
          $ref: '#/responses/badReqError'
        '401':
          $ref: '#/responses/authError'
        '403':
          $ref: '#/responses/permissionsError'
        '500':
          $ref: '#/responses/serverError'
definitions:
  VersionDetails:
    type: object
    properties:
      BuildVersion:
        type: string
      MajorMinorVersion:
        type: string
      PatchVersion:
        type: string
    x-go-package: gitlab.com/crusoeenergy/island/rest-gateway/internal/handlers
  KubernetesClustersVersionInfo:
    type: object
    required:
    - cluster_version_name
    - tags
    - version_details
    properties:
      cluster_version_name:
        description: The version name of Crusoe's Kubernetes clusters.
        type: string
        x-go-name: ClusterVersionName
      tags:
        description: A list of tags associated with the version.
        type: array
        items:
          type: string
        x-go-name: Tags
      version_details:
        $ref: '#/definitions/VersionDetails'
    x-go-package: gitlab.com/crusoeenergy/island/rest-gateway/internal/models
  KubernetesNodePoolsVersionInfo:
    type: object
    required:
    - node_pool_version_name
    - tags
    - version_details
    properties:
      node_pool_version_name:
        description: The version name of Crusoe's Kubernetes node pools.
        type: string
        x-go-name: NodePoolVersionName
      tags:
        description: A list of tags associated with the version.
        type: array
        items:
          type: string
        x-go-name: Tags
      version_details:
        $ref: '#/definitions/VersionDetails'
    x-go-package: gitlab.com/crusoeenergy/island/rest-gateway/internal/models
  ListKubernetesVersionsResponse:
    type: object
    required:
    - kubernetes_cluster_versions
    - kubernetes_node_pool_versions
    properties:
      kubernetes_cluster_versions:
        description: The list of available Kubernetes cluster versions.
        type: array
        items:
          $ref: '#/definitions/KubernetesClustersVersionInfo'
        x-go-name: KubernetesClusterVersions
      kubernetes_node_pool_versions:
        description: The list of available Kubernetes node pool versions.
        type: array
        items:
          $ref: '#/definitions/KubernetesNodePoolsVersionInfo'
        x-go-name: KubernetesNodePoolVersions
    x-go-package: gitlab.com/crusoeenergy/island/rest-gateway/internal/models
responses:
  authError:
    description: Error Authentication Failed
    schema:
      type: object
      required:
      - code
      - message
      properties:
        code:
          type: string
          x-go-name: Code
          example: '401'
        message:
          type: string
          x-go-name: Message
          example: bad_credential
  serverError:
    description: Error Internal Server
    schema:
      type: object
      required:
      - code
      - message
      properties:
        code:
          type: string
          x-go-name: Code
          example: '500'
        message:
          type: string
          x-go-name: Message
          example: internal_error
  badReqError:
    description: Error Bad Request
    schema:
      type: object
      required:
      - code
      - message
      properties:
        code:
          type: string
          x-go-name: Code
          example: '400'
        message:
          type: string
          x-go-name: Message
          example: bad_request
  permissionsError:
    description: Error Permissions
    schema:
      type: object
      required:
      - code
      - message
      properties:
        code:
          type: string
          x-go-name: Code
          example: '403'
        message:
          type: string
          x-go-name: Message
          example: unauthorized
  listKubernetesVersionsResponse:
    description: ''
    schema:
      $ref: '#/definitions/ListKubernetesVersionsResponse'
x-tagGroups:
- name: Compute
  tags:
  - VMs
  - VM Operations
  - Images
  - Instance Templates
  - Custom Images
  - Custom Image Operations
- name: Organizations
  tags:
  - Projects
  - Entities
  - Prospects
  - Billing
  - Usage
  - Quotas
  - Audit Logs
  - Reservations
- name: Users
  tags:
  - Identities
  - Roles
  - SSH Keys
  - Tokens
- name: Storage
  tags:
  - Disks
  - Disk Operations
  - Snapshots
  - Snapshot Operations
- name: Networking
  tags:
  - VPC Firewall Rules
  - VPC Firewall Rule Operations
  - VPC Networks
  - VPC Subnets
  - IB Partitions
  - Load Balancers
- name: Orchestration
  tags:
  - Kubernetes Clusters
  - Kubernetes Cluster Operations
  - Kubernetes Node Pools
  - Kubernetes Node Pool Operations
  - Kubernetes Versions
  - AutoClusters
  - AutoCluster Operations
- name: Locations
  tags:
  - Locations
- name: Capacities
  tags:
  - Capacities
