swagger: '2.0'
info:
  description: The API Gateway exposes all publicly available API endpoints for Crusoe Cloud products.
  title: Crusoe Cloud API Gateway Audit Logs Images API
  version: v1alpha5
host: api.crusoecloud.com
basePath: /v1alpha5
schemes:
- https
consumes:
- application/json
produces:
- application/json
tags:
- name: Images
paths:
  /compute/images:
    get:
      tags:
      - Images
      summary: Lists all VM images available for use.
      operationId: listImages
      responses:
        '200':
          $ref: '#/responses/listImagesResponse'
        '401':
          $ref: '#/responses/authError'
        '500':
          $ref: '#/responses/serverError'
  /compute/images/{image_id}:
    get:
      tags:
      - Images
      summary: Retrieve details about a VM image.
      operationId: getImage
      parameters:
      - type: string
        example: ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab
        x-go-name: ImageID
        name: image_id
        in: path
        required: true
      responses:
        '200':
          $ref: '#/responses/getImageResponse'
        '400':
          $ref: '#/responses/badReqError'
        '401':
          $ref: '#/responses/authError'
        '404':
          $ref: '#/responses/notFoundError'
        '500':
          $ref: '#/responses/serverError'
definitions:
  ListImagesResponseV1Alpha5:
    type: object
    title: ListImagesResponseV1Alpha5 is the resource response type for GET requests to the Images endpoint.
    required:
    - items
    properties:
      items:
        type: array
        items:
          $ref: '#/definitions/Image'
        x-go-name: Items
    x-go-package: gitlab.com/crusoeenergy/island/rest-gateway/internal/handlers
  Image:
    type: object
    required:
    - id
    - name
    - description
    - tags
    - created_at
    - locations
    properties:
      created_at:
        type: string
        x-go-name: CreatedAt
        example: '2023-06-29T20:03:26Z'
      description:
        type: string
        x-go-name: Description
        example: base Ubuntu 20.04 image
      id:
        type: string
        x-go-name: ID
        example: 09ae8411-0fbb-411c-898c-2b8f19622ae1
      locations:
        type: array
        items:
          type: string
        x-go-name: Locations
        example: '[us-east1, us-southcentral1]'
      name:
        type: string
        x-go-name: Name
        example: ubuntu
      tags:
        type: array
        items:
          type: string
        x-go-name: Tags
        example: '[20.4, latest]'
    x-go-package: gitlab.com/crusoeenergy/island/rest-gateway/internal/handlers
responses:
  getImageResponse:
    description: ''
    schema:
      $ref: '#/definitions/Image'
  serverError:
    description: Error Internal Server
    schema:
      type: object
      required:
      - code
      - message
      properties:
        code:
          type: string
          x-go-name: Code
          example: '500'
        message:
          type: string
          x-go-name: Message
          example: internal_error
  notFoundError:
    description: Error Not Found
    schema:
      type: object
      required:
      - code
      - message
      properties:
        code:
          type: string
          x-go-name: Code
          example: '404'
        message:
          type: string
          x-go-name: Message
          example: not_found
  badReqError:
    description: Error Bad Request
    schema:
      type: object
      required:
      - code
      - message
      properties:
        code:
          type: string
          x-go-name: Code
          example: '400'
        message:
          type: string
          x-go-name: Message
          example: bad_request
  listImagesResponse:
    description: ''
    schema:
      $ref: '#/definitions/ListImagesResponseV1Alpha5'
  authError:
    description: Error Authentication Failed
    schema:
      type: object
      required:
      - code
      - message
      properties:
        code:
          type: string
          x-go-name: Code
          example: '401'
        message:
          type: string
          x-go-name: Message
          example: bad_credential
x-tagGroups:
- name: Compute
  tags:
  - VMs
  - VM Operations
  - Images
  - Instance Templates
  - Custom Images
  - Custom Image Operations
- name: Organizations
  tags:
  - Projects
  - Entities
  - Prospects
  - Billing
  - Usage
  - Quotas
  - Audit Logs
  - Reservations
- name: Users
  tags:
  - Identities
  - Roles
  - SSH Keys
  - Tokens
- name: Storage
  tags:
  - Disks
  - Disk Operations
  - Snapshots
  - Snapshot Operations
- name: Networking
  tags:
  - VPC Firewall Rules
  - VPC Firewall Rule Operations
  - VPC Networks
  - VPC Subnets
  - IB Partitions
  - Load Balancers
- name: Orchestration
  tags:
  - Kubernetes Clusters
  - Kubernetes Cluster Operations
  - Kubernetes Node Pools
  - Kubernetes Node Pool Operations
  - Kubernetes Versions
  - AutoClusters
  - AutoCluster Operations
- name: Locations
  tags:
  - Locations
- name: Capacities
  tags:
  - Capacities
