swagger: '2.0'
info:
  description: The API Gateway exposes all publicly available API endpoints for Crusoe Cloud products.
  title: Crusoe Cloud API Gateway Audit Logs IB Networks API
  version: v1alpha5
host: api.crusoecloud.com
basePath: /v1alpha5
schemes:
- https
consumes:
- application/json
produces:
- application/json
tags:
- name: IB Networks
paths:
  /projects/{project_id}/networking/ib-networks:
    get:
      tags:
      - IB Networks
      summary: Retrieve details for all Infiniband networks.
      operationId: listIBNetworks
      parameters:
      - type: string
        example: ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab
        x-go-name: ProjectID
        name: project_id
        in: path
        required: true
      responses:
        '200':
          $ref: '#/responses/listIbNetworksResponse'
        '401':
          $ref: '#/responses/authError'
        '500':
          $ref: '#/responses/serverError'
  /projects/{project_id}/networking/ib-networks/{ib_network_id}:
    get:
      tags:
      - IB Networks
      summary: Retrieve details for an Infiniband network.
      operationId: getIBNetwork
      parameters:
      - type: string
        example: ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab
        x-go-name: ProjectID
        name: project_id
        in: path
        required: true
      - type: string
        example: ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab
        x-go-name: IBNetworkID
        name: ib_network_id
        in: path
        required: true
      responses:
        '200':
          $ref: '#/responses/getIbNetworkResponse'
        '400':
          $ref: '#/responses/badReqError'
        '401':
          $ref: '#/responses/authError'
        '500':
          $ref: '#/responses/serverError'
definitions:
  IBNetworkCapacity:
    type: object
    required:
    - quantity
    - slice_type
    properties:
      quantity:
        type: integer
        format: uint32
        x-go-name: Quantity
        example: 8
      slice_type:
        type: string
        x-go-name: SliceType
        example: 16 vCPUs & 125GB RAM & 1 A100 (40GB) GPU
    x-go-package: gitlab.com/crusoeenergy/island/rest-gateway/internal/handlers
  IBNetwork:
    type: object
    required:
    - id
    - name
    - location
    - capacities
    properties:
      capacities:
        type: array
        items:
          $ref: '#/definitions/IBNetworkCapacity'
        x-go-name: Capacities
      id:
        type: string
        x-go-name: ID
        example: 1ce839b7-3fab-46f9-8e54-7a6bb4ac1ffc
      location:
        type: string
        x-go-name: Location
        example: us-east
      name:
        type: string
        x-go-name: Name
        example: ib-network-1
    x-go-package: gitlab.com/crusoeenergy/island/rest-gateway/internal/handlers
  ListIBNetworksResponseV1Alpha5:
    type: object
    title: ListIBNetworksResponseV1Alpha5 is the response type for GET requests to the IB Networks endpoint.
    required:
    - items
    properties:
      items:
        type: array
        items:
          $ref: '#/definitions/IBNetwork'
        x-go-name: Items
    x-go-package: gitlab.com/crusoeenergy/island/rest-gateway/internal/handlers
responses:
  serverError:
    description: Error Internal Server
    schema:
      type: object
      required:
      - code
      - message
      properties:
        code:
          type: string
          x-go-name: Code
          example: '500'
        message:
          type: string
          x-go-name: Message
          example: internal_error
  getIbNetworkResponse:
    description: ''
    schema:
      $ref: '#/definitions/IBNetwork'
  badReqError:
    description: Error Bad Request
    schema:
      type: object
      required:
      - code
      - message
      properties:
        code:
          type: string
          x-go-name: Code
          example: '400'
        message:
          type: string
          x-go-name: Message
          example: bad_request
  listIbNetworksResponse:
    description: ''
    schema:
      $ref: '#/definitions/ListIBNetworksResponseV1Alpha5'
  authError:
    description: Error Authentication Failed
    schema:
      type: object
      required:
      - code
      - message
      properties:
        code:
          type: string
          x-go-name: Code
          example: '401'
        message:
          type: string
          x-go-name: Message
          example: bad_credential
x-tagGroups:
- name: Compute
  tags:
  - VMs
  - VM Operations
  - Images
  - Instance Templates
  - Custom Images
  - Custom Image Operations
- name: Organizations
  tags:
  - Projects
  - Entities
  - Prospects
  - Billing
  - Usage
  - Quotas
  - Audit Logs
  - Reservations
- name: Users
  tags:
  - Identities
  - Roles
  - SSH Keys
  - Tokens
- name: Storage
  tags:
  - Disks
  - Disk Operations
  - Snapshots
  - Snapshot Operations
- name: Networking
  tags:
  - VPC Firewall Rules
  - VPC Firewall Rule Operations
  - VPC Networks
  - VPC Subnets
  - IB Partitions
  - Load Balancers
- name: Orchestration
  tags:
  - Kubernetes Clusters
  - Kubernetes Cluster Operations
  - Kubernetes Node Pools
  - Kubernetes Node Pool Operations
  - Kubernetes Versions
  - AutoClusters
  - AutoCluster Operations
- name: Locations
  tags:
  - Locations
- name: Capacities
  tags:
  - Capacities
