openapi: 3.2.0
info:
  description: The API Gateway exposes all publicly available API endpoints for Crusoe Cloud products.
  title: Crusoe Cloud API Gateway Audit Logs IB Partitions API
  version: v1alpha5
servers:
- url: https://api.crusoecloud.com/v1alpha5
tags:
- name: IB Partitions
paths:
  /projects/{project_id}/networking/ib-partitions:
    get:
      tags:
      - IB Partitions
      summary: Retrieve details for all Infiniband partitions that belongs to the user.
      operationId: listIBPartitions
      parameters:
      - example: ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab
        x-go-name: ProjectID
        name: project_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          $ref: '#/components/responses/listIBPartitionsResponse'
        '401':
          $ref: '#/components/responses/authError'
        '403':
          $ref: '#/components/responses/permissionsError'
        '500':
          $ref: '#/components/responses/serverError'
    post:
      tags:
      - IB Partitions
      summary: Create a new Infiniband partition owned by the logged in user.
      operationId: createIBPartition
      parameters:
      - example: ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab
        x-go-name: ProjectID
        name: project_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          $ref: '#/components/responses/ibPartitionsPostResponse'
        '400':
          $ref: '#/components/responses/badReqError'
        '401':
          $ref: '#/components/responses/authError'
        '403':
          $ref: '#/components/responses/permissionsError'
        '500':
          $ref: '#/components/responses/serverError'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IBPartitionsPostRequestV1Alpha5'
        required: true
  /projects/{project_id}/networking/ib-partitions/{ib_partition_id}:
    get:
      tags:
      - IB Partitions
      summary: Retrieve details for an Infiniband partition that belongs to the user.
      operationId: getIBPartition
      parameters:
      - example: ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab
        x-go-name: ProjectID
        name: project_id
        in: path
        required: true
        schema:
          type: string
      - example: ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab
        x-go-name: IBPartitionID
        name: ib_partition_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          $ref: '#/components/responses/getIbPartitionResponse'
        '400':
          $ref: '#/components/responses/badReqError'
        '401':
          $ref: '#/components/responses/authError'
        '403':
          $ref: '#/components/responses/permissionsError'
        '500':
          $ref: '#/components/responses/serverError'
    delete:
      tags:
      - IB Partitions
      summary: Delete an Infiniband partition owned by the logged in user.
      operationId: deleteIBPartition
      parameters:
      - example: ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab
        x-go-name: ProjectID
        name: project_id
        in: path
        required: true
        schema:
          type: string
      - example: ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab
        x-go-name: IBPartitionID
        name: ib_partition_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          $ref: '#/components/responses/emptyResponse'
        '400':
          $ref: '#/components/responses/badReqError'
        '401':
          $ref: '#/components/responses/authError'
        '403':
          $ref: '#/components/responses/permissionsError'
        '500':
          $ref: '#/components/responses/serverError'
components:
  responses:
    ibPartitionsPostResponse:
      description: ''
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/IBPartition'
    authError:
      description: Error Authentication Failed
      content:
        application/json:
          schema:
            type: object
            required:
            - code
            - message
            properties:
              code:
                type: string
                x-go-name: Code
                example: '401'
              message:
                type: string
                x-go-name: Message
                example: bad_credential
    emptyResponse:
      description: Empty Response
    listIBPartitionsResponse:
      description: ''
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ListIBPartitionsResponseV1Alpha5'
    getIbPartitionResponse:
      description: ''
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/IBPartition'
    badReqError:
      description: Error Bad Request
      content:
        application/json:
          schema:
            type: object
            required:
            - code
            - message
            properties:
              code:
                type: string
                x-go-name: Code
                example: '400'
              message:
                type: string
                x-go-name: Message
                example: bad_request
    permissionsError:
      description: Error Permissions
      content:
        application/json:
          schema:
            type: object
            required:
            - code
            - message
            properties:
              code:
                type: string
                x-go-name: Code
                example: '403'
              message:
                type: string
                x-go-name: Message
                example: unauthorized
    serverError:
      description: Error Internal Server
      content:
        application/json:
          schema:
            type: object
            required:
            - code
            - message
            properties:
              code:
                type: string
                x-go-name: Code
                example: '500'
              message:
                type: string
                x-go-name: Message
                example: internal_error
  schemas:
    IBPartition:
      type: object
      required:
      - id
      - name
      - ib_network_id
      properties:
        ib_network_id:
          type: string
          x-go-name: IBNetworkID
          example: 36c0b0d9-8b68-4869-addb-227b06b64ee0
        id:
          type: string
          x-go-name: ID
          example: 44701f9e-845c-4005-9240-adee6401b8d3
        name:
          type: string
          x-go-name: Name
          example: my-ib-partition
      x-go-package: gitlab.com/crusoeenergy/island/rest-gateway/internal/handlers
    ListIBPartitionsResponseV1Alpha5:
      type: object
      title: ListIBPartitionsResponseV1Alpha5 is the response type for GET requests to the IB Partitions endpoint.
      required:
      - items
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/IBPartition'
          x-go-name: Items
      x-go-package: gitlab.com/crusoeenergy/island/rest-gateway/internal/handlers
    IBPartitionsPostRequestV1Alpha5:
      type: object
      title: IBPartitionsPostRequestV1Alpha5 is the request type for POST requests to the IB Partitions endpoint.
      required:
      - name
      - ib_network_id
      properties:
        ib_network_id:
          type: string
          x-go-name: IBNetworkID
          example: 36c0b0d9-8b68-4869-addb-227b06b64ee0
        name:
          type: string
          x-go-name: Name
          example: my-ib-partition
      x-go-package: gitlab.com/crusoeenergy/island/rest-gateway/internal/handlers
x-tagGroups:
- name: Compute
  tags:
  - VMs
  - VM Operations
  - Images
  - Instance Templates
  - Custom Images
  - Custom Image Operations
- name: Organizations
  tags:
  - Projects
  - Entities
  - Prospects
  - Billing
  - Usage
  - Quotas
  - Audit Logs
  - Reservations
- name: Users
  tags:
  - Identities
  - Roles
  - SSH Keys
  - Tokens
- name: Storage
  tags:
  - Disks
  - Disk Operations
  - Snapshots
  - Snapshot Operations
- name: Networking
  tags:
  - VPC Firewall Rules
  - VPC Firewall Rule Operations
  - VPC Networks
  - VPC Subnets
  - IB Partitions
  - Load Balancers
- name: Orchestration
  tags:
  - Kubernetes Clusters
  - Kubernetes Cluster Operations
  - Kubernetes Node Pools
  - Kubernetes Node Pool Operations
  - Kubernetes Versions
  - AutoClusters
  - AutoCluster Operations
- name: Locations
  tags:
  - Locations
- name: Capacities
  tags:
  - Capacities
