openapi: 3.2.0
info:
  description: The API Gateway exposes all publicly available API endpoints for Crusoe Cloud products.
  title: Crusoe Cloud API Gateway Audit Logs IB Networks API
  version: v1alpha5
servers:
- url: https://api.crusoecloud.com/v1alpha5
tags:
- name: IB Networks
paths:
  /projects/{project_id}/networking/ib-networks:
    get:
      tags:
      - IB Networks
      summary: Retrieve details for all Infiniband networks.
      operationId: listIBNetworks
      parameters:
      - example: ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab
        x-go-name: ProjectID
        name: project_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          $ref: '#/components/responses/listIbNetworksResponse'
        '401':
          $ref: '#/components/responses/authError'
        '500':
          $ref: '#/components/responses/serverError'
  /projects/{project_id}/networking/ib-networks/{ib_network_id}:
    get:
      tags:
      - IB Networks
      summary: Retrieve details for an Infiniband network.
      operationId: getIBNetwork
      parameters:
      - example: ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab
        x-go-name: ProjectID
        name: project_id
        in: path
        required: true
        schema:
          type: string
      - example: ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab
        x-go-name: IBNetworkID
        name: ib_network_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          $ref: '#/components/responses/getIbNetworkResponse'
        '400':
          $ref: '#/components/responses/badReqError'
        '401':
          $ref: '#/components/responses/authError'
        '500':
          $ref: '#/components/responses/serverError'
components:
  responses:
    authError:
      description: Error Authentication Failed
      content:
        application/json:
          schema:
            type: object
            required:
            - code
            - message
            properties:
              code:
                type: string
                x-go-name: Code
                example: '401'
              message:
                type: string
                x-go-name: Message
                example: bad_credential
    getIbNetworkResponse:
      description: ''
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/IBNetwork'
    badReqError:
      description: Error Bad Request
      content:
        application/json:
          schema:
            type: object
            required:
            - code
            - message
            properties:
              code:
                type: string
                x-go-name: Code
                example: '400'
              message:
                type: string
                x-go-name: Message
                example: bad_request
    listIbNetworksResponse:
      description: ''
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ListIBNetworksResponseV1Alpha5'
    serverError:
      description: Error Internal Server
      content:
        application/json:
          schema:
            type: object
            required:
            - code
            - message
            properties:
              code:
                type: string
                x-go-name: Code
                example: '500'
              message:
                type: string
                x-go-name: Message
                example: internal_error
  schemas:
    ListIBNetworksResponseV1Alpha5:
      type: object
      title: ListIBNetworksResponseV1Alpha5 is the response type for GET requests to the IB Networks endpoint.
      required:
      - items
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/IBNetwork'
          x-go-name: Items
      x-go-package: gitlab.com/crusoeenergy/island/rest-gateway/internal/handlers
    IBNetwork:
      type: object
      required:
      - id
      - name
      - location
      - capacities
      properties:
        capacities:
          type: array
          items:
            $ref: '#/components/schemas/IBNetworkCapacity'
          x-go-name: Capacities
        id:
          type: string
          x-go-name: ID
          example: 1ce839b7-3fab-46f9-8e54-7a6bb4ac1ffc
        location:
          type: string
          x-go-name: Location
          example: us-east
        name:
          type: string
          x-go-name: Name
          example: ib-network-1
      x-go-package: gitlab.com/crusoeenergy/island/rest-gateway/internal/handlers
    IBNetworkCapacity:
      type: object
      required:
      - quantity
      - slice_type
      properties:
        quantity:
          type: integer
          format: uint32
          x-go-name: Quantity
          example: 8
        slice_type:
          type: string
          x-go-name: SliceType
          example: 16 vCPUs & 125GB RAM & 1 A100 (40GB) GPU
      x-go-package: gitlab.com/crusoeenergy/island/rest-gateway/internal/handlers
x-tagGroups:
- name: Compute
  tags:
  - VMs
  - VM Operations
  - Images
  - Instance Templates
  - Custom Images
  - Custom Image Operations
- name: Organizations
  tags:
  - Projects
  - Entities
  - Prospects
  - Billing
  - Usage
  - Quotas
  - Audit Logs
  - Reservations
- name: Users
  tags:
  - Identities
  - Roles
  - SSH Keys
  - Tokens
- name: Storage
  tags:
  - Disks
  - Disk Operations
  - Snapshots
  - Snapshot Operations
- name: Networking
  tags:
  - VPC Firewall Rules
  - VPC Firewall Rule Operations
  - VPC Networks
  - VPC Subnets
  - IB Partitions
  - Load Balancers
- name: Orchestration
  tags:
  - Kubernetes Clusters
  - Kubernetes Cluster Operations
  - Kubernetes Node Pools
  - Kubernetes Node Pool Operations
  - Kubernetes Versions
  - AutoClusters
  - AutoCluster Operations
- name: Locations
  tags:
  - Locations
- name: Capacities
  tags:
  - Capacities
