openapi: 3.2.0
info:
  description: The API Gateway exposes all publicly available API endpoints for Crusoe Cloud products.
  title: Crusoe Cloud API Gateway Audit Logs VPC Networks API
  version: v1alpha5
servers:
- url: https://api.crusoecloud.com/v1alpha5
tags:
- name: VPC Networks
paths:
  /projects/{project_id}/networking/vpc-networks:
    get:
      tags:
      - VPC Networks
      summary: Retrieve details about all VPC networks that belong to the logged in user.
      operationId: listVPCNetworks
      parameters:
      - example: ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab
        x-go-name: ProjectID
        name: project_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          $ref: '#/components/responses/listVPCNetworksResponse'
        '401':
          $ref: '#/components/responses/authError'
        '403':
          $ref: '#/components/responses/permissionsError'
        '500':
          $ref: '#/components/responses/serverError'
    post:
      description: A successful response from this resource will contain information regarding the created VPC network.
      tags:
      - VPC Networks
      summary: Create a new VPC network owned by the logged in user.
      operationId: createVPCNetwork
      parameters:
      - example: ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab
        x-go-name: ProjectID
        name: project_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          $ref: '#/components/responses/vpcNetworkPostResponse'
        '400':
          $ref: '#/components/responses/badReqError'
        '401':
          $ref: '#/components/responses/authError'
        '403':
          $ref: '#/components/responses/permissionsError'
        '500':
          $ref: '#/components/responses/serverError'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VPCNetworkPostRequest'
        required: true
  /projects/{project_id}/networking/vpc-networks/{vpc_network_id}:
    get:
      tags:
      - VPC Networks
      summary: Retrieve details for a VPC network that belongs to the logged in user.
      operationId: getVPCNetwork
      parameters:
      - example: ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab
        x-go-name: ProjectID
        name: project_id
        in: path
        required: true
        schema:
          type: string
      - example: ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab
        x-go-name: VPCNetworkID
        name: vpc_network_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          $ref: '#/components/responses/getVPCNetworkResponse'
        '401':
          $ref: '#/components/responses/authError'
        '403':
          $ref: '#/components/responses/permissionsError'
        '500':
          $ref: '#/components/responses/serverError'
    delete:
      description: A successful response from this resource will contain the async operation.
      tags:
      - VPC Networks
      summary: Delete a VPC network owned by the logged in user.
      operationId: deleteVPCNetwork
      parameters:
      - example: ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab
        x-go-name: ProjectID
        name: project_id
        in: path
        required: true
        schema:
          type: string
      - example: ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab
        x-go-name: VPCNetworkID
        name: vpc_network_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          $ref: '#/components/responses/asyncOperationResponse'
        '400':
          $ref: '#/components/responses/badReqError'
        '401':
          $ref: '#/components/responses/authError'
        '403':
          $ref: '#/components/responses/permissionsError'
        '404':
          $ref: '#/components/responses/notFoundError'
        '500':
          $ref: '#/components/responses/serverError'
    patch:
      description: A successful response from this resource will contain the async operation.
      tags:
      - VPC Networks
      summary: Patch (update) a VPC network owned by the logged in user.
      operationId: patchVPCNetwork
      parameters:
      - example: ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab
        x-go-name: ProjectID
        name: project_id
        in: path
        required: true
        schema:
          type: string
      - example: ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab
        x-go-name: VPCNetworkID
        name: vpc_network_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          $ref: '#/components/responses/asyncOperationResponse'
        '400':
          $ref: '#/components/responses/badReqError'
        '401':
          $ref: '#/components/responses/authError'
        '403':
          $ref: '#/components/responses/permissionsError'
        '404':
          $ref: '#/components/responses/notFoundError'
        '500':
          $ref: '#/components/responses/serverError'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VPCNetworkPatchRequest'
        required: true
components:
  schemas:
    VPCNetwork:
      type: object
      required:
      - id
      - name
      - subnets
      - gateway
      - cidr
      properties:
        cidr:
          type: string
          x-go-name: CIDR
          example: 121.0.0.0/20
        gateway:
          type: string
          x-go-name: Gateway
          example: 11bf5b4c-e0e5-4017-bdb8-3861f3acedc1
        id:
          type: string
          x-go-name: ID
          example: 1ce839b7-3fab-46f9-8e54-7a6bb4ac1ffc
        name:
          type: string
          x-go-name: Name
          example: default-ethernet
        subnets:
          type: array
          items:
            type: string
          x-go-name: Subnets
          example: '[1ce839b7-3fab-46f9-8e54-7a6bb4ac1ffc]'
      x-go-package: gitlab.com/crusoeenergy/island/rest-gateway/internal/handlers
    VPCNetworkPostResponse:
      type: object
      title: VPCNetworkPostResponse is the response type for POST requests to the VPC Networks endpoint.
      required:
      - network
      properties:
        network:
          $ref: '#/components/schemas/VPCNetwork'
      x-go-package: gitlab.com/crusoeenergy/island/rest-gateway/internal/handlers
    VPCNetworkPostRequest:
      type: object
      title: VPCNetworkPostRequest is the request type for POST requests to the VPC Networks endpoint.
      required:
      - name
      - cidr
      properties:
        cidr:
          type: string
          x-go-name: Cidr
          example: 172.27.0.0/16
        name:
          type: string
          x-go-name: Name
          example: my-cool-vpc-network
      x-go-package: gitlab.com/crusoeenergy/island/rest-gateway/internal/handlers
    VPCNetworkPatchRequest:
      type: object
      title: VPCNetworkPatchRequest is the request type for PATCH requests to the VPC Networks endpoint.
      required:
      - name
      properties:
        name:
          type: string
          x-go-name: Name
          example: my-cool-vpc-network
      x-go-package: gitlab.com/crusoeenergy/island/rest-gateway/internal/handlers
    Operation:
      description: 'Individual resources that use Operations should populate the `metadata` field

        with resource-specific information.'
      type: object
      title: Operation contains the common fields for all Operation API objects.
      required:
      - operation_id
      - state
      - metadata
      - started_at
      - completed_at
      properties:
        completed_at:
          type: string
          x-go-name: CompletedAt
          example: '2021-12-03T19:59:34Z'
        metadata:
          x-go-name: Metadata
          example: '{}'
        operation_id:
          type: string
          x-go-name: ID
          example: F6EF489C-086E-458D-B812-7962964A28C9
        result:
          x-go-name: Result
          example: '{}'
        started_at:
          type: string
          x-go-name: StartedAt
          example: '2021-12-03T19:58:34Z'
        state:
          type: string
          enum:
          - IN_PROGRESS
          - SUCCEEDED
          - FAILED
          x-go-name: State
          example: IN_PROGRESS
      x-go-package: gitlab.com/crusoeenergy/island/rest-gateway/internal/handlers
    AsyncOperationResponse:
      type: object
      title: AsyncOperationResponse is the response type for endpoints which return async operations.
      required:
      - operation
      properties:
        operation:
          $ref: '#/components/schemas/Operation'
      x-go-package: gitlab.com/crusoeenergy/island/rest-gateway/internal/handlers
    ListVPCNetworksResponseV1Alpha5:
      type: object
      title: ListVPCNetworksResponseV1Alpha5 is the response type for GET requests to the VPC Networks endpoint.
      required:
      - items
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/VPCNetwork'
          x-go-name: Items
      x-go-package: gitlab.com/crusoeenergy/island/rest-gateway/internal/handlers
  responses:
    authError:
      description: Error Authentication Failed
      content:
        application/json:
          schema:
            type: object
            required:
            - code
            - message
            properties:
              code:
                type: string
                x-go-name: Code
                example: '401'
              message:
                type: string
                x-go-name: Message
                example: bad_credential
    asyncOperationResponse:
      description: ''
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AsyncOperationResponse'
    notFoundError:
      description: Error Not Found
      content:
        application/json:
          schema:
            type: object
            required:
            - code
            - message
            properties:
              code:
                type: string
                x-go-name: Code
                example: '404'
              message:
                type: string
                x-go-name: Message
                example: not_found
    badReqError:
      description: Error Bad Request
      content:
        application/json:
          schema:
            type: object
            required:
            - code
            - message
            properties:
              code:
                type: string
                x-go-name: Code
                example: '400'
              message:
                type: string
                x-go-name: Message
                example: bad_request
    listVPCNetworksResponse:
      description: ''
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ListVPCNetworksResponseV1Alpha5'
    permissionsError:
      description: Error Permissions
      content:
        application/json:
          schema:
            type: object
            required:
            - code
            - message
            properties:
              code:
                type: string
                x-go-name: Code
                example: '403'
              message:
                type: string
                x-go-name: Message
                example: unauthorized
    getVPCNetworkResponse:
      description: ''
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/VPCNetwork'
    serverError:
      description: Error Internal Server
      content:
        application/json:
          schema:
            type: object
            required:
            - code
            - message
            properties:
              code:
                type: string
                x-go-name: Code
                example: '500'
              message:
                type: string
                x-go-name: Message
                example: internal_error
    vpcNetworkPostResponse:
      description: ''
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/VPCNetworkPostResponse'
x-tagGroups:
- name: Compute
  tags:
  - VMs
  - VM Operations
  - Images
  - Instance Templates
  - Custom Images
  - Custom Image Operations
- name: Organizations
  tags:
  - Projects
  - Entities
  - Prospects
  - Billing
  - Usage
  - Quotas
  - Audit Logs
  - Reservations
- name: Users
  tags:
  - Identities
  - Roles
  - SSH Keys
  - Tokens
- name: Storage
  tags:
  - Disks
  - Disk Operations
  - Snapshots
  - Snapshot Operations
- name: Networking
  tags:
  - VPC Firewall Rules
  - VPC Firewall Rule Operations
  - VPC Networks
  - VPC Subnets
  - IB Partitions
  - Load Balancers
- name: Orchestration
  tags:
  - Kubernetes Clusters
  - Kubernetes Cluster Operations
  - Kubernetes Node Pools
  - Kubernetes Node Pool Operations
  - Kubernetes Versions
  - AutoClusters
  - AutoCluster Operations
- name: Locations
  tags:
  - Locations
- name: Capacities
  tags:
  - Capacities
