openapi: 3.2.0
info:
  description: The API Gateway exposes all publicly available API endpoints for Crusoe Cloud products.
  title: Crusoe Cloud API Gateway Audit Logs Inference API Key API
  version: v1alpha5
servers:
- url: https://api.crusoecloud.com/v1alpha5
tags:
- name: InferenceAPIKey
paths:
  /users/inference-api-key:
    get:
      tags:
      - InferenceAPIKey
      summary: Retrieve all active/expired Inference API Keys for the logged in user.
      operationId: getInferenceAPIKeys
      responses:
        '200':
          $ref: '#/components/responses/inferenceAPIKeyGetResponse'
        '401':
          $ref: '#/components/responses/authError'
        '500':
          $ref: '#/components/responses/serverError'
    post:
      description: 'A successful response from this resource will contain json-encoded details of the inference API key.

        This is the only time the customer will be able to view the api key associated with the API key id.'
      tags:
      - InferenceAPIKey
      summary: Create a new inference api key owned by the logged in user.
      operationId: createInferenceAPIKey
      responses:
        '200':
          $ref: '#/components/responses/inferenceAPIKeyPostResponse'
        '401':
          $ref: '#/components/responses/authError'
        '500':
          $ref: '#/components/responses/serverError'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateInferenceAPIKeyRequest'
        required: true
    delete:
      tags:
      - InferenceAPIKey
      summary: Delete an Inference API Key owned by the logged in user.
      operationId: deleteInferenceAPIKey
      parameters:
      - example: WTUzcGibQ82y9_01h4MCdQ
        x-go-name: KeyID
        name: key_id
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          $ref: '#/components/responses/emptyResponse'
        '401':
          $ref: '#/components/responses/authError'
        '403':
          $ref: '#/components/responses/permissionsError'
        '500':
          $ref: '#/components/responses/serverError'
components:
  responses:
    authError:
      description: Error Authentication Failed
      content:
        application/json:
          schema:
            type: object
            required:
            - code
            - message
            properties:
              code:
                type: string
                x-go-name: Code
                example: '401'
              message:
                type: string
                x-go-name: Message
                example: bad_credential
    permissionsError:
      description: Error Permissions
      content:
        application/json:
          schema:
            type: object
            required:
            - code
            - message
            properties:
              code:
                type: string
                x-go-name: Code
                example: '403'
              message:
                type: string
                x-go-name: Message
                example: unauthorized
    emptyResponse:
      description: Empty Response
    inferenceAPIKeyGetResponse:
      description: A successful response from this resource will contain json-encoded array of token details, excluding the api key.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ListInferenceAPIKeysResponseV1Alpha5'
    serverError:
      description: Error Internal Server
      content:
        application/json:
          schema:
            type: object
            required:
            - code
            - message
            properties:
              code:
                type: string
                x-go-name: Code
                example: '500'
              message:
                type: string
                x-go-name: Message
                example: internal_error
    inferenceAPIKeyPostResponse:
      description: ''
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/InferenceAPIKeyPostResponse'
  schemas:
    ListInferenceAPIKeysResponseV1Alpha5:
      type: object
      required:
      - items
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/InferenceAPIKeyInfo'
          x-go-name: Items
      x-go-package: gitlab.com/crusoeenergy/island/rest-gateway/internal/handlers
    InferenceAPIKeyPostResponse:
      type: object
      required:
      - api_key_info
      properties:
        api_key_info:
          $ref: '#/components/schemas/GeneratedInferenceAPIKey'
      x-go-package: gitlab.com/crusoeenergy/island/rest-gateway/internal/handlers
    CreateInferenceAPIKeyRequest:
      type: object
      required:
      - expires_at
      properties:
        alias:
          type: string
          x-go-name: Alias
          example: token1
        expires_at:
          type: string
          x-go-name: ExpiresAt
          example: '2021-12-03T19:58:34Z'
      x-go-package: gitlab.com/crusoeenergy/island/rest-gateway/internal/handlers
    InferenceAPIKeyInfo:
      description: These are the fields returned from a GET request.
      type: object
      title: TokenInfo contains the Traits Island stores for a Token inside of Kratos.
      required:
      - alias
      - key_id
      - created_at
      - expires_at
      - last_used
      properties:
        alias:
          type: string
          x-go-name: Alias
          example: token1
        created_at:
          type: string
          x-go-name: CreatedAt
          example: '2021-11-03T22:16:27Z'
        expires_at:
          type: string
          x-go-name: ExpiresAt
          example: '2021-12-03T19:58:34Z'
        key_id:
          type: string
          x-go-name: KeyID
          example: Hm11C1coQZm2+Aihn9ofYg
        last_used:
          type: string
          x-go-name: LastUsed
          example: '2021-11-03T22:22:55Z'
      x-go-package: gitlab.com/crusoeenergy/island/rest-gateway/internal/handlers
    GeneratedInferenceAPIKey:
      type: object
      required:
      - key_id
      - api_key
      - created_at
      - expires_at
      properties:
        alias:
          type: string
          x-go-name: Alias
          example: newAPIKey
        api_key:
          type: string
          x-go-name: APIKey
          example: R7p5XctCQMuGlpVBmVdqzA
        created_at:
          type: string
          x-go-name: CreatedAt
          example: '2021-11-03T22:16:27Z'
        expires_at:
          type: string
          x-go-name: ExpiresAt
          example: '2021-12-03T19:58:34Z'
        key_id:
          type: string
          x-go-name: KeyID
          example: R7p5XctCQMuGlpVBmVdqzA
      x-go-package: gitlab.com/crusoeenergy/island/rest-gateway/internal/handlers
x-tagGroups:
- name: Compute
  tags:
  - VMs
  - VM Operations
  - Images
  - Instance Templates
  - Custom Images
  - Custom Image Operations
- name: Organizations
  tags:
  - Projects
  - Entities
  - Prospects
  - Billing
  - Usage
  - Quotas
  - Audit Logs
  - Reservations
- name: Users
  tags:
  - Identities
  - Roles
  - SSH Keys
  - Tokens
- name: Storage
  tags:
  - Disks
  - Disk Operations
  - Snapshots
  - Snapshot Operations
- name: Networking
  tags:
  - VPC Firewall Rules
  - VPC Firewall Rule Operations
  - VPC Networks
  - VPC Subnets
  - IB Partitions
  - Load Balancers
- name: Orchestration
  tags:
  - Kubernetes Clusters
  - Kubernetes Cluster Operations
  - Kubernetes Node Pools
  - Kubernetes Node Pool Operations
  - Kubernetes Versions
  - AutoClusters
  - AutoCluster Operations
- name: Locations
  tags:
  - Locations
- name: Capacities
  tags:
  - Capacities
