swagger: '2.0'
info:
  description: The API Gateway exposes all publicly available API endpoints for Crusoe Cloud products.
  title: Crusoe Cloud API Gateway Audit Logs VPC Networks API
  version: v1alpha5
host: api.crusoecloud.com
basePath: /v1alpha5
schemes:
- https
consumes:
- application/json
produces:
- application/json
tags:
- name: VPC Networks
paths:
  /projects/{project_id}/networking/vpc-networks:
    get:
      tags:
      - VPC Networks
      summary: Retrieve details about all VPC networks that belong to the logged in user.
      operationId: listVPCNetworks
      parameters:
      - type: string
        example: ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab
        x-go-name: ProjectID
        name: project_id
        in: path
        required: true
      responses:
        '200':
          $ref: '#/responses/listVPCNetworksResponse'
        '401':
          $ref: '#/responses/authError'
        '403':
          $ref: '#/responses/permissionsError'
        '500':
          $ref: '#/responses/serverError'
    post:
      description: A successful response from this resource will contain information regarding the created VPC network.
      tags:
      - VPC Networks
      summary: Create a new VPC network owned by the logged in user.
      operationId: createVPCNetwork
      parameters:
      - name: Body
        in: body
        required: true
        schema:
          $ref: '#/definitions/VPCNetworkPostRequest'
      - type: string
        example: ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab
        x-go-name: ProjectID
        name: project_id
        in: path
        required: true
      responses:
        '200':
          $ref: '#/responses/vpcNetworkPostResponse'
        '400':
          $ref: '#/responses/badReqError'
        '401':
          $ref: '#/responses/authError'
        '403':
          $ref: '#/responses/permissionsError'
        '500':
          $ref: '#/responses/serverError'
  /projects/{project_id}/networking/vpc-networks/{vpc_network_id}:
    get:
      tags:
      - VPC Networks
      summary: Retrieve details for a VPC network that belongs to the logged in user.
      operationId: getVPCNetwork
      parameters:
      - type: string
        example: ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab
        x-go-name: ProjectID
        name: project_id
        in: path
        required: true
      - type: string
        example: ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab
        x-go-name: VPCNetworkID
        name: vpc_network_id
        in: path
        required: true
      responses:
        '200':
          $ref: '#/responses/getVPCNetworkResponse'
        '401':
          $ref: '#/responses/authError'
        '403':
          $ref: '#/responses/permissionsError'
        '500':
          $ref: '#/responses/serverError'
    delete:
      description: A successful response from this resource will contain the async operation.
      tags:
      - VPC Networks
      summary: Delete a VPC network owned by the logged in user.
      operationId: deleteVPCNetwork
      parameters:
      - type: string
        example: ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab
        x-go-name: ProjectID
        name: project_id
        in: path
        required: true
      - type: string
        example: ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab
        x-go-name: VPCNetworkID
        name: vpc_network_id
        in: path
        required: true
      responses:
        '200':
          $ref: '#/responses/asyncOperationResponse'
        '400':
          $ref: '#/responses/badReqError'
        '401':
          $ref: '#/responses/authError'
        '403':
          $ref: '#/responses/permissionsError'
        '404':
          $ref: '#/responses/notFoundError'
        '500':
          $ref: '#/responses/serverError'
    patch:
      description: A successful response from this resource will contain the async operation.
      tags:
      - VPC Networks
      summary: Patch (update) a VPC network owned by the logged in user.
      operationId: patchVPCNetwork
      parameters:
      - type: string
        example: ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab
        x-go-name: ProjectID
        name: project_id
        in: path
        required: true
      - type: string
        example: ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab
        x-go-name: VPCNetworkID
        name: vpc_network_id
        in: path
        required: true
      - name: Body
        in: body
        required: true
        schema:
          $ref: '#/definitions/VPCNetworkPatchRequest'
      responses:
        '200':
          $ref: '#/responses/asyncOperationResponse'
        '400':
          $ref: '#/responses/badReqError'
        '401':
          $ref: '#/responses/authError'
        '403':
          $ref: '#/responses/permissionsError'
        '404':
          $ref: '#/responses/notFoundError'
        '500':
          $ref: '#/responses/serverError'
definitions:
  AsyncOperationResponse:
    type: object
    title: AsyncOperationResponse is the response type for endpoints which return async operations.
    required:
    - operation
    properties:
      operation:
        $ref: '#/definitions/Operation'
    x-go-package: gitlab.com/crusoeenergy/island/rest-gateway/internal/handlers
  Operation:
    description: 'Individual resources that use Operations should populate the `metadata` field

      with resource-specific information.'
    type: object
    title: Operation contains the common fields for all Operation API objects.
    required:
    - operation_id
    - state
    - metadata
    - started_at
    - completed_at
    properties:
      completed_at:
        type: string
        x-go-name: CompletedAt
        example: '2021-12-03T19:59:34Z'
      metadata:
        x-go-name: Metadata
        example: '{}'
      operation_id:
        type: string
        x-go-name: ID
        example: F6EF489C-086E-458D-B812-7962964A28C9
      result:
        x-go-name: Result
        example: '{}'
      started_at:
        type: string
        x-go-name: StartedAt
        example: '2021-12-03T19:58:34Z'
      state:
        type: string
        enum:
        - IN_PROGRESS
        - SUCCEEDED
        - FAILED
        x-go-name: State
        example: IN_PROGRESS
    x-go-package: gitlab.com/crusoeenergy/island/rest-gateway/internal/handlers
  VPCNetworkPostResponse:
    type: object
    title: VPCNetworkPostResponse is the response type for POST requests to the VPC Networks endpoint.
    required:
    - network
    properties:
      network:
        $ref: '#/definitions/VPCNetwork'
    x-go-package: gitlab.com/crusoeenergy/island/rest-gateway/internal/handlers
  VPCNetwork:
    type: object
    required:
    - id
    - name
    - subnets
    - gateway
    - cidr
    properties:
      cidr:
        type: string
        x-go-name: CIDR
        example: 121.0.0.0/20
      gateway:
        type: string
        x-go-name: Gateway
        example: 11bf5b4c-e0e5-4017-bdb8-3861f3acedc1
      id:
        type: string
        x-go-name: ID
        example: 1ce839b7-3fab-46f9-8e54-7a6bb4ac1ffc
      name:
        type: string
        x-go-name: Name
        example: default-ethernet
      subnets:
        type: array
        items:
          type: string
        x-go-name: Subnets
        example: '[1ce839b7-3fab-46f9-8e54-7a6bb4ac1ffc]'
    x-go-package: gitlab.com/crusoeenergy/island/rest-gateway/internal/handlers
  VPCNetworkPatchRequest:
    type: object
    title: VPCNetworkPatchRequest is the request type for PATCH requests to the VPC Networks endpoint.
    required:
    - name
    properties:
      name:
        type: string
        x-go-name: Name
        example: my-cool-vpc-network
    x-go-package: gitlab.com/crusoeenergy/island/rest-gateway/internal/handlers
  ListVPCNetworksResponseV1Alpha5:
    type: object
    title: ListVPCNetworksResponseV1Alpha5 is the response type for GET requests to the VPC Networks endpoint.
    required:
    - items
    properties:
      items:
        type: array
        items:
          $ref: '#/definitions/VPCNetwork'
        x-go-name: Items
    x-go-package: gitlab.com/crusoeenergy/island/rest-gateway/internal/handlers
  VPCNetworkPostRequest:
    type: object
    title: VPCNetworkPostRequest is the request type for POST requests to the VPC Networks endpoint.
    required:
    - name
    - cidr
    properties:
      cidr:
        type: string
        x-go-name: Cidr
        example: 172.27.0.0/16
      name:
        type: string
        x-go-name: Name
        example: my-cool-vpc-network
    x-go-package: gitlab.com/crusoeenergy/island/rest-gateway/internal/handlers
responses:
  serverError:
    description: Error Internal Server
    schema:
      type: object
      required:
      - code
      - message
      properties:
        code:
          type: string
          x-go-name: Code
          example: '500'
        message:
          type: string
          x-go-name: Message
          example: internal_error
  listVPCNetworksResponse:
    description: ''
    schema:
      $ref: '#/definitions/ListVPCNetworksResponseV1Alpha5'
  notFoundError:
    description: Error Not Found
    schema:
      type: object
      required:
      - code
      - message
      properties:
        code:
          type: string
          x-go-name: Code
          example: '404'
        message:
          type: string
          x-go-name: Message
          example: not_found
  badReqError:
    description: Error Bad Request
    schema:
      type: object
      required:
      - code
      - message
      properties:
        code:
          type: string
          x-go-name: Code
          example: '400'
        message:
          type: string
          x-go-name: Message
          example: bad_request
  vpcNetworkPostResponse:
    description: ''
    schema:
      $ref: '#/definitions/VPCNetworkPostResponse'
  asyncOperationResponse:
    description: ''
    schema:
      $ref: '#/definitions/AsyncOperationResponse'
  getVPCNetworkResponse:
    description: ''
    schema:
      $ref: '#/definitions/VPCNetwork'
  permissionsError:
    description: Error Permissions
    schema:
      type: object
      required:
      - code
      - message
      properties:
        code:
          type: string
          x-go-name: Code
          example: '403'
        message:
          type: string
          x-go-name: Message
          example: unauthorized
  authError:
    description: Error Authentication Failed
    schema:
      type: object
      required:
      - code
      - message
      properties:
        code:
          type: string
          x-go-name: Code
          example: '401'
        message:
          type: string
          x-go-name: Message
          example: bad_credential
x-tagGroups:
- name: Compute
  tags:
  - VMs
  - VM Operations
  - Images
  - Instance Templates
  - Custom Images
  - Custom Image Operations
- name: Organizations
  tags:
  - Projects
  - Entities
  - Prospects
  - Billing
  - Usage
  - Quotas
  - Audit Logs
  - Reservations
- name: Users
  tags:
  - Identities
  - Roles
  - SSH Keys
  - Tokens
- name: Storage
  tags:
  - Disks
  - Disk Operations
  - Snapshots
  - Snapshot Operations
- name: Networking
  tags:
  - VPC Firewall Rules
  - VPC Firewall Rule Operations
  - VPC Networks
  - VPC Subnets
  - IB Partitions
  - Load Balancers
- name: Orchestration
  tags:
  - Kubernetes Clusters
  - Kubernetes Cluster Operations
  - Kubernetes Node Pools
  - Kubernetes Node Pool Operations
  - Kubernetes Versions
  - AutoClusters
  - AutoCluster Operations
- name: Locations
  tags:
  - Locations
- name: Capacities
  tags:
  - Capacities
